.landing,
.listing__page {
  margin-top: 66px;
  @media screen and (min-width: 576px) {
    margin-top: 74px;
  }
  @media screen and (min-width: 992px) {
    margin-top: 82px;
  }
}

.landing {
  &__listing {
    padding: 0 $gap;
    --breakpoint-grid_columns: 1;
    --breakpoint-grid_column-gap: 24px;
    --breakpoint-grid_row-gap: 40px;
    @media screen and (min-width: 576px) {
      --breakpoint-grid_columns: 2;
    }
    @media screen and (min-width: 768px) {
      --breakpoint-grid_columns: 3;
    }
    @media screen and (min-width: 992px) {
      --breakpoint-grid_columns: 4;
    }
    display: grid;
    grid-template-columns: repeat(
      var(--breakpoint-grid_columns, 1),
      minmax(0, 1fr)
    );
    grid-gap: var(--breakpoint-grid_row-gap, 0)
      var(--breakpoint-grid_column-gap, 0);
  }
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    cursor: pointer;
    &:hover {
      & .picture__image {
        transform: scale(1.05);
      }
    }
    & picture {
      border-radius: 8px;
      overflow: hidden;
      & img {
        @include full_hw;
        object-fit: cover;
      }
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      color: #222222;
      font-family: $fontFamily;
    }
    &__price {
      font-size: 14px;
      font-weight: 500;
      color: #222222;
      font-family: $fontFamily;
    }
    &__location {
      font-size: 14px;
      font-weight: 500;
      color: #b0b0b0;
      font-family: $fontFamily;
    }
  }
}

.picture {
  position: relative;
  background-color: #e5e7eb;
  --aspect_ratio_wrapper-ratio: 20 / 19;
  aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
  &__image {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    &--loading {
      opacity: 1;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__head {
    & h3 {
      font-size: 14px;
      font-weight: 500;
      color: #222222;
      font-family: $fontFamily;
    }
  }
  &__category {
    color: #b0b0b0;
  }
  &__body,
  &__category {
    font-size: 12px;
    font-weight: 500;
    font-family: $fontFamily;
  }
  &__hearth {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease;
    &__button {
      height: 24px;
      width: 24px;
    }
    &__icon {
      stroke: #ffffff;
      stroke-width: 2;
      fill: #00000080;
      transition: all 0.1s ease;
      &--favorited {
        fill: #1e9de6;
      }
    }
  }
}

.rent__button {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}

.categories__container {
  padding: 0 $gap 44px;
}
.categories__container__list {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  column-gap: 22px;
  & button {
    flex: 1;
   }
}
