.landing,
.listing__page {
  margin-top: 66px;
  padding-bottom: 66px;
  @media screen and (min-width: 576px) {
    margin-top: 74px;
    padding-bottom: 74px;
  }
  @media screen and (min-width: 992px) {
    margin-top: 82px;
    padding-bottom: 82px;
  }
}

.landing {
  &__list {
    padding: 188px $gap;
    --breakpoint-grid_columns: 1;
    --breakpoint-grid_column-gap: 24px;
    --breakpoint-grid_row-gap: 40px;
    @media screen and (min-width: 576px) {
      --breakpoint-grid_columns: 2;
    }
    @media screen and (min-width: 768px) {
      --breakpoint-grid_columns: 3;
    }
    @media screen and (min-width: 992px) {
      --breakpoint-grid_columns: 6;
    }
    display: grid;
    grid-template-columns: repeat(
      var(--breakpoint-grid_columns, 1),
      minmax(0, 1fr)
    );
    grid-gap: var(--breakpoint-grid_row-gap, 0)
      var(--breakpoint-grid_column-gap, 0);
  }
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    cursor: pointer;
    &:hover {
      & .picture__image {
        transform: scale(1.05);
      }
    }
    & picture {
      border-radius: 8px;
      overflow: hidden;
      & img {
        @include full_hw;
        object-fit: cover;
      }
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      color: #222222;
      font-family: $fontFamily;
    }
    &__price {
      font-size: 14px;
      font-weight: 500;
      color: #222222;
      font-family: $fontFamily;
    }
    &__location {
      font-size: 14px;
      font-weight: 500;
      color: #b0b0b0;
      font-family: $fontFamily;
    }
  }
}

.picture {
  position: relative;
  background-color: #e5e7eb;
  --aspect_ratio_wrapper-ratio: 20 / 19;
  aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
  &__image {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    &--loading {
      opacity: 1;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__head {
    & h3 {
      font-size: 14px;
      font-weight: 500;
      color: #222222;
      font-family: $fontFamily;
    }
  }
  &__category {
    color: #b0b0b0;
  }
  &__body,
  &__category {
    font-size: 12px;
    font-weight: 500;
    font-family: $fontFamily;
  }
  &__hearth {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease;
    &__button {
      height: 24px;
      width: 24px;
    }
    &__icon {
      stroke: #ffffff;
      stroke-width: 2;
      fill: #00000080;
      transition: all 0.1s ease;
      &--favorited {
        fill: #2a9d8f;
      }
    }
  }
}

.rent__button {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}

.categories__container {
  padding: 0 $gap 44px;
}

.categories__container__list {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  column-gap: 22px;
  & button {
    flex: 1;
  }
}

.category__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  &--selected {
    color: #1e9de6;
    & svg {
      stroke: #1e9de6;
    }
  }
}

.homepage {
  position: relative;
  background: #0f3a35;
  color: #fff;
  padding-top: 66px;
  @media screen and (min-width: 576px) {
    padding-top: 74px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 82px;
  }
  &__content {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    column-gap: 3.5vw;
    padding: 88px $gap 144px;
  }
  &__left,
  &__right {
    width: 50%;
    height: 100%;
  }
  &__title {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 5.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    max-width: 800px;
    padding-bottom: 44px;
  }
  &__description {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    line-height: 130%; /* 31.2px */
    padding-bottom: 66px;
    max-width: 550px;
  }
  &__left {
    &__content {
      @include full_hw;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__grid {
      $gridGap: 18px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.5fr 1fr;
      // max-width: 700px;
      max-width: 750px;
      row-gap: $gridGap;
      column-gap: $gridGap;
      &__top {
        display: inline-flex;
        width: 100%;
        grid-area: 1 / 1 / 2 / 4;
        column-gap: $gridGap;
        & img {
          @include full_hw;
          object-fit: cover;
        }
      }
    }
  }
  &__image {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(15, 58, 53, 0.8) 0%,
        rgba(15, 58, 53, 0) 100%
      );
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
    & img {
      @include full_hw;
      object-fit: cover;
    }
    &--0 {
      & img {
        border-radius: 50px 50px 0px 50px;
      }
    }
    &--1 {
      & img {
        border-radius: 50px 50px 50px 0px;
      }
    }
    &--2 {
      & img {
        border-radius: 50px 0px;
      }
      grid-area: 2 / 1 / 3 / 2;
    }
    &--3 {
      & img {
        border-radius: 0px 0px 50px 50px;
      }
      grid-area: 2 / 2 / 3 / 3;
    }
    &--4 {
      & img {
        border-radius: 0px 50px;
      }
      grid-area: 2 / 3 / 3 / 4;
    }
  }
  &__cta {
    display: inline-flex;
    align-items: center;
    gap: 5vw;
    & span {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      font-style: normal;
      line-height: normal;
    }
    &__book {
      display: flex;
      padding: 12px 36px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: #2a9d8f;
      color: #fff;
    }
    &__discover {
      display: inline-flex;
      align-items: center;
      gap: 26px;
    }
  }
}

.search {
  bottom: 0%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  position: absolute;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  transform-origin: 50% 0%;
  padding: 10px;
  width: fit-content;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.8vw;
  cursor: pointer;
  &__input {
    background: transparent;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
    color: #000f08;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    &:first-of-type {
      padding-left: 24px;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
  }
  &__line {
    width: 1px;
    height: 24px;
    background-color: #dddddd;
  }
  &__button {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 14px;
    border-radius: 210px;
    background: #2a9d8f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
