.listing {
  &__content {
    padding: $gap $gap 0;
    font-size: 14px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 11px;
    }
    & h1 {
      font-size: 20px;
      font-weight: 500;
      color: #222222;
      font-family: $fontFamily;
    }
    & h2 {
      font-size: 18px;
      & span {
        text-transform: capitalize;
      }
    }
    & p {
      font-size: 14px;
      font-weight: 500;
      font-family: $fontFamily;
    }
  }
  &__gallery {
    position: relative;
    aspect-ratio: 16 / 11;
    width: 100%;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 11;
    @media screen and (min-width: 768px) {
      max-width: 600px;
    }
  }
  &__body {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 18px;
    &__host {
      display: inline-flex;
      align-items: center;
      column-gap: 11px;
    }
  }
}

.listing__d {
  display: flex;
  flex-direction: column;
  row-gap: 88px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: calc($gap / 2);
    padding-top: 74px;
  }
}

.rdrCalendarWrapper {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.calendar__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing__i {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}